/* Estilo para el contenedor */
.container {
  max-width: 1000px; /* Reduce el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor */
  padding: 20px; /* Agrega padding alrededor del contenedor */
}

/* Estilo para la tarjeta principal */
.card.main-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #eceff1;
}

/* Estilo para el encabezado de la tarjeta */
.card-header {
  background-color: #1b3039;
  color: #eceff1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tamaño y peso del texto en el encabezado */
.card-header h2 {
  font-size: 1.5rem; /* Ajusta el tamaño del encabezado */
  margin-bottom: 0;
  font-weight: 800;
}

/* Estilo para el contenedor de los botones */
.card-header .d-flex {
  flex: 1;
  justify-content: flex-end; /* Alinea los botones a la derecha */
}

/* Estilo para los botones personalizados */
.btn-custom {
  background-color: #1b3039;
  border-color: #1b3039;
  color: #eceff1;
  padding: 0.4rem 0.8rem; /* Reduce el padding para botones más angostos */
  font-size: 0.9rem; /* Ajusta el tamaño del texto en los botones */
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

/* Espaciado entre el ícono y el texto en los botones */
.btn-custom i {
  margin-right: 0.5rem;
}

/* Estilo para el cuerpo de la tarjeta */
.card-body {
  padding: 1rem; /* Ajusta el padding para el cuerpo de la tarjeta */
}

/* Estilo para la tabla responsive */
.table-responsive {
  overflow-x: auto;
}

/* Estilo para la tabla */
.table {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

/* Estilo para los encabezados de la tabla */
.table thead th {
  background-color: #1b3039;
  color: #eceff1;
  border: none;
  white-space: nowrap;
  padding: 0.75rem;
}

/* Estilo para las filas pares de la tabla */
.table tbody tr:nth-of-type(even) {
  background-color: #f8f9fa;
}

/* Estilo para las filas al pasar el cursor */
.table tbody tr:hover {
  background-color: #e9ecef;
}

/* Estilo para las celdas de la tabla */
.table td, .table th {
  vertical-align: middle;
  padding: 0.75rem; /* Aumenta el padding para más espacio */
  border-top: 1px solid #dee2e6;
  max-width: 150px; /* Ajusta el ancho máximo de las celdas */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Estilo para las alertas */
.alert {
  display: flex;
  align-items: center;
}

/* Espaciado entre el ícono y el texto en las alertas */
.alert i {
  margin-right: 0.5rem;
}