.gray-box {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 30px;
}

canvas {
    max-width: 100%;
    height: auto;
}

h1.display-4{
    font-weight: bolder;
}
h1.display-4, h2, h3 {
    margin-bottom: 20px;
}

p.lead {
    margin-bottom: 40px;
}

.btn-lg {
    padding: 10px 30px;
    font-size: 1.25rem;
}

canvas {
    max-width: 90%; 
    height: 90px;   
    width: 400px;   
    margin: 0 auto;  
}

.gray-box {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.gray-box:hover {
    transform: translateY(-5px);
}

.icon-animation {
    animation: bounce 1s infinite;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
}

.show {
    display: block !important;
}

/* Estilos para la sección de Comentarios y Valoraciones */
.comment-section {
    margin-top: 50px;
}

.comment-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-form label {
    font-weight: bold;
}

.comment-form textarea,
.comment-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.comment-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #0056b3;
}

/* Estilos para el buscador */
.input-group .form-control-lg {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .btn-lg {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow: hidden;
}

.input-group .form-control-lg,
.input-group .btn-lg {
    height: 60px;
}

.input-group .form-control-lg {
    font-size: 1.1rem;
}

.input-group .btn-lg {
    padding-left: 20px;
    padding-right: 20px;
}