<nav class="navbar">
    <div class="logo">
        <a routerLink="/"><img src="assets/img/image.png" alt="InmoCompra Logo"></a>
    </div>
    <ul class="nav-links">
        <li>
            <a routerLink="/cliente"> Clientes</a>
        </li>
        <li>
            <a routerLink="/propiedad"> Propiedades</a>
        </li>
        <li>
            <a routerLink="/solicitudes">Solicitud</a>
        </li>
        <li>
            <a routerLink="/contrato">Contrato</a>
        </li>
    </ul>
</nav>